In [1]:
import pandas as pd
import keras
import tensorflow

from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

Using TensorFlow backend.

In [2]:
dataframe = pd.read_csv(r"C:\Users\hp\Desktop\OSS COMP'\train.csv")
dataframe.head(2)

,ID,Person A,Person B,Years of Knowing,Interaction Type,Interaction Duration,Moon Phase During Interaction,Friends
0,1,Paul,Deborah,4.72,Social_Media,0.00,Full Moon,1
1,2,Brian,Emily,9.67,In Passing,6.07,First Quarter,1

In [3]:
dataframe=dataframe.drop(['ID'],axis=1)

In [4]:
dataframe.head(2)

,Person A,Person B,Years of Knowing,Interaction Type,Interaction Duration,Moon Phase During Interaction,Friends
0,Paul,Deborah,4.72,Social_Media,0.00,Full Moon,1
1,Brian,Emily,9.67,In Passing,6.07,First Quarter,1

In [5]:
dataset=dataframe.values

In [6]:
print(dataset)

[['Paul' 'Deborah' 4.72 ... 0.0 'Full Moon' 1]
 ['Brian' 'Emily' 9.67 ... 6.07 'First Quarter' 1]
 ['Kyle' 'Madison' 1.64 ... 5.38 'Waxing Gibbous' 1]
 ...
 ['Alan' 'Catherine' 3.74 ... 2.23 'New Moon' 0]
 ['Aaron' 'Amy' 2.01 ... 9.86 'Waxing Gibbous' 1]
 ['Richard' 'Tiffany' 2.34 ... 17.31 'New Moon' 0]]

In [7]:
X = dataset[:,0:6]
Y = dataset[:,6]
print(X)

[['Paul' 'Deborah' 4.72 'Social_Media' 0.0 'Full Moon']
 ['Brian' 'Emily' 9.67 'In Passing' 6.07 'First Quarter']
 ['Kyle' 'Madison' 1.64 'In Passing' 5.38 'Waxing Gibbous']
 ...
 ['Alan' 'Catherine' 3.74 'Class' 2.23 'New Moon']
 ['Aaron' 'Amy' 2.01 'Party' 9.86 'Waxing Gibbous']
 ['Richard' 'Tiffany' 2.34 'Social_Media' 17.31 'New Moon']]

In [9]:
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
encoded_Y=encoded_Y.astype(int)

In [11]:
encoder = LabelEncoder()
encoder.fit(dataset[:,1])
dataset[:,1] = encoder.transform(dataset[:,1])
encoder.fit(dataset[:,0])
dataset[:,0]= encoder.transform(dataset[:,0])
encoder.fit(dataset[:,3])
dataset[:,3] = encoder.transform(dataset[:,3])
encoder.fit(dataset[:,5])
dataset[:,5]= encoder.transform(dataset[:,5])

In [20]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [21]:
print(X)

[[ 0.77169676 -0.88440353  0.53590989  1.46496582 -2.04765668 -1.09803404]
 [-1.26484143 -0.57336597  2.42598107 -0.29444065 -0.81100328 -1.53455496]
 [ 0.3574856   0.6016648  -0.6401344  -0.29444065 -0.95157837  1.5210915 ]
 ...
 [-1.644535   -1.0917619   0.16171398 -0.88090947 -1.59333426 -0.66151311]
 [-1.71357019 -1.54103838 -0.49885635  0.87849699 -0.03885889  1.5210915 ]
 [ 0.97880234  1.63845667 -0.3728516   1.46496582  1.47894471 -0.66151311]]

In [16]:
def create_baseline():
	# create model
	model = Sequential()
	model.add(Dense(6, input_dim=6, activation='relu'))
	model.add(Dense(1, activation='sigmoid'))
	# Compile model
	model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
	return model

In [185]:
# evaluate model with standardized dataset
estimator = KerasClassifier(build_fn=create_baseline, epochs=1, batch_size=5, verbose=0)
kfold = StratifiedKFold(n_splits=10, shuffle=True)
results = cross_val_score(estimator, X, encoded_Y, cv=kfold)
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

E:\ANKIT\CONDA\envs\tf\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Error when checking input: expected dense_439_input to have shape (3,) but got array with shape (4,)

  FitFailedWarning)
E:\ANKIT\CONDA\envs\tf\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Error when checking input: expected dense_441_input to have shape (3,) but got array with shape (4,)

  FitFailedWarning)
E:\ANKIT\CONDA\envs\tf\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Error when checking input: expected dense_443_input to have shape (3,) but got array with shape (4,)

  FitFailedWarning)
E:\ANKIT\CONDA\envs\tf\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Error when checking input: expected dense_445_input to have shape (3,) but got array with shape (4,)

  FitFailedWarning)
E:\ANKIT\CONDA\envs\tf\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Error when checking input: expected dense_447_input to have shape (3,) but got array with shape (4,)

  FitFailedWarning)
E:\ANKIT\CONDA\envs\tf\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Error when checking input: expected dense_449_input to have shape (3,) but got array with shape (4,)

  FitFailedWarning)

Baseline: nan% (nan%)

E:\ANKIT\CONDA\envs\tf\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Error when checking input: expected dense_451_input to have shape (3,) but got array with shape (4,)

  FitFailedWarning)
E:\ANKIT\CONDA\envs\tf\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Error when checking input: expected dense_453_input to have shape (3,) but got array with shape (4,)

  FitFailedWarning)
E:\ANKIT\CONDA\envs\tf\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Error when checking input: expected dense_455_input to have shape (3,) but got array with shape (4,)

  FitFailedWarning)
E:\ANKIT\CONDA\envs\tf\lib\site-packages\sklearn\model_selection\_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Error when checking input: expected dense_457_input to have shape (3,) but got array with shape (4,)

  FitFailedWarning)

In [68]:
print(tensorflow.version.VERSION)

2.1.0

In [18]:
model = create_baseline()

In [22]:
model.fit(X,encoded_Y, batch_size=5, epochs=5)

Epoch 1/5
54697/54697 [==============================] - 10s 177us/step - loss: 0.6931 - accuracy: 0.5127
Epoch 2/5
54697/54697 [==============================] - 10s 176us/step - loss: 0.6926 - accuracy: 0.5127
Epoch 3/5
54697/54697 [==============================] - 10s 188us/step - loss: 0.6925 - accuracy: 0.5135
Epoch 4/5
54697/54697 [==============================] - 10s 187us/step - loss: 0.6923 - accuracy: 0.5165
Epoch 5/5
54697/54697 [==============================] - 9s 170us/step - loss: 0.6924 - accuracy: 0.5163

In [209]:
model.summary()

Model: "sequential_138"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_461 (Dense)            (None, 4)                 20
_________________________________________________________________
dense_462 (Dense)            (None, 1)                 5
=================================================================
Total params: 25
Trainable params: 25
Non-trainable params: 0
_________________________________________________________________

In [210]:
new=pd.read_csv(r"C:\Users\hp\Desktop\OSS COMP'\train.csv")

In [211]:
new=new.drop(['Person A','Person B','ID','Friends'],axis=1)

In [212]:
nd=new.values
print (nd)

[[4.72 'Social_Media' 0.0 'Full Moon']
 [9.67 'In Passing' 6.07 'First Quarter']
 [1.64 'In Passing' 5.38 'Waxing Gibbous']
 ...
 [3.74 'Class' 2.23 'New Moon']
 [2.01 'Party' 9.86 'Waxing Gibbous']
 [2.34 'Social_Media' 17.31 'New Moon']]

In [214]:
scaler = StandardScaler()
nd = scaler.fit_transform(nd)
print (nd)

ValueError: could not convert string to float: 'Social_Media'

In [164]:
encoder = LabelEncoder()
encoder.fit(nd[:,1])
nd[:,1] = encoder.transform(nd[:,1])
encoder.fit(nd[:,3])
nd[:,3] = encoder.transform(nd[:,3])

In [177]:
y_pred=y
y_pred =(y_pred>0.5)

In [189]:
y=model.predict(nd)

In [190]:
print(y)

[[0.5171525 ]
 [0.504746  ]
 [0.4489708 ]
 ...
 [0.5036392 ]
 [0.43886968]
 [0.4392326 ]]

In [197]:
new1=pd.read_csv(r"C:\Users\hp\Desktop\OSS COMP'\train.csv")

In [198]:
new1.insert(8,'friends2',y)

In [199]:
new1.head(2)

,ID,Person A,Person B,Years of Knowing,Interaction Type,Interaction Duration,Moon Phase During Interaction,Friends,friends2
0,1,Paul,Deborah,4.72,Social_Media,0.00,Full Moon,1,0.517152
1,2,Brian,Emily,9.67,In Passing,6.07,First Quarter,1,0.504746

In [200]:
new1.to_csv(r"C:\Users\hp\Desktop\OSS COMP'\for_threahold.csv",index='false')